.places__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
  margin: 0;
}

.places__paragraph:last-of-type {
  padding-bottom: 0;
}
