.place__title {
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  margin: 0;
  line-height: 76px;
}

@media (max-width: 1023px) {
  .place__title {
    max-width: calc(340px + (440 - 340) * ((100vw - 320px) / (1280 - 320)));
    font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 1024px) {
  .place__title {
    font-size: 72px;
    max-width: 440px;
  }
}

@media (max-width: 1000px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 760px) {
  .place__title {
    text-align: left;
    padding-left: 16px;
    max-width: 288px;
    font-size: 32px;
  }
}
