.place__title {
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
}

@media (max-width: 1024px) {
  .place__title {
    width: calc(340px + (440 - 340) * ((100vw - 320px) / (1280 - 320)));
    font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 768px) {
  .place__title {
    width: calc(288px + (340 - 288) * ((100vw - 320px) / (1280 - 320)));
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 760px) {
  .place__title {
    text-align: left;
    margin: auto;
    width: 288px;
    font-size: 32px;
  }
}
