.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(auto, 213px);
  gap: 16px;
  padding-top: 92px;
  margin: auto;
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto, 225px);
    gap: 14px;
  }
}
