.lead__title-illustration {
  width: 928px;
  height: 580px;
  object-fit: cover;
  padding-top: 64px;
}

@media (max-width: 1024px) {
  .lead__title-illustration {
    width: 928px;
    padding-top: 56px;
  }
}
