.intro__list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  padding-top: 33px;
  margin: 0;
  line-height: 18px;
}

@media (max-width: 350px) {
  .intro__list {
    padding-top: 34px;
    line-height: 18px;
  }
}
