.places__title {
  width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  padding-right: 40px;
}

@media (max-width: 1024px) {
  .places__title {
    padding-right: 32px;
    width: 440px;
  }
}
