.lead {
  max-width: 984px;
  height: 1005px;
  padding-top: 56px;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: auto;
}

@media (max-width: 320px) {
  .lead {
    padding-top: calc(48px + (56 - 48) * ((100vw - 320px) / (1280 - 320)));
    max-width: calc(320px + (984 - 320) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 1024px) {
  .lead {
    height: 962px;
  }
}

@media (max-width: 768px) {
  .lead {
    height: 862px;
  }
}

@media (max-width: 320px) {
  .lead {
    height: 406px;
  }
}
