.lead {
  width: 984px;
  height: 1005px;
  padding-top: 56px;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: auto;
}

@media (max-width: 1024px) {
  .lead {
    width: 928px;
    padding-top: 48px;
    height: 962px;
  }
}
