.header {
  padding-top: 28px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 350px) {
  .header {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
