.header {
  max-width: 1184px;
  padding-top: 28px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 48px;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
  }
}
