.place__paragraphs {
  margin: 0;
  max-width: 484px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .place__paragraphs {
    width: calc(325px + (456 - 325) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 768px) {
  .place__paragraphs {
    width: 325px;
  }
}

@media (max-width: 320px) {
  .place__paragraphs {
    max-width: 288px;
    margin: auto;
  }
}
