.place__paragraphs {
  margin: 0;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .place__paragraphs {
    max-width: 456px;
  }
}



@media (max-width: 1000px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media (max-width: 670px) {
  .place__paragraphs {
    max-width: 288px;
    margin: auto;
  }
}
