.place__paragraph {
  padding-bottom: 26px;
  margin: 0;
  line-height: 163%;
  font-size: 18px;
  width: 100%;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 950px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .place__paragraph {
    padding-bottom: 25px;
  }
}
