.footer__copyright {
  width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    padding-top: 16px;
  }
}
