.lead__subtitle {
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 32px;
}

@media (max-width: 767px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1280 - 320)));
    max-width: calc(288px + (640 - 288) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media (max-width: 350px) {
  .lead__subtitle {
    line-height: 125%;
    padding-top: 16px;
  }
}
