.cover {
  width: 1184px;
  padding-bottom: 92px;
  padding-top: 12px;
  position: relative;
  z-index: 1;
}

.cover:hover {
  transition-property: opacity;
  opacity: 0.3;
  cursor: pointer;
}

@media (max-width: 320px) {
  .cover {
    max-width: calc(320px + (1184 - 320) * ((100vw - 320px) / (1280 - 320)));
    padding-top: 0;
    padding-bottom: 64px;
  }
}

