.cover__background {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  opacity: 0.8;
  object-fit: fill;
  height: auto;
}

.cover__background:hover {
  position: absolute;
  left: 0;
  top: 0;
  background: #2A2C2F;
  opacity: 0.3;
}
