.footer {
  width: 1184px;
  height: 18px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 1024px) {
  .footer {
    width: 928px;
  }
}
