.footer {
  max-width: 1184px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    display: block;
    margin-left: 16px;
    padding-bottom: 24px;
  }
}
