.place__website {
  width: 456px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media (max-width: 1000px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 760px) {
  .place__website {
    max-width: 288px;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
